<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<style type="text/css">
 [ng:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
display: none !important;
}
</style>
<body ng-app="myapp">
<div class="container" ng-controller="carCtrl">
    <form class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                <input type="text" class="form-control" id="exampleInputAmount" placeholder="搜索" ng-model="search">
            </div>
        </div>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th>
                编号
                <span ng-click="order('id')" ng-class="{'glyphicon glyphicon-triangle-bottom':orderType=='-','glyphicon glyphicon-triangle-top':orderType==''}"></span>
            </th>
            <th>
                名称
                <span ng-click="order('name')" ng-class="{'glyphicon glyphicon-triangle-bottom':orderType=='-','glyphicon glyphicon-triangle-top':orderType==''}"></span>
            </th>
            <th>
                单价
                <span ng-click="order('price')" ng-class="{'glyphicon glyphicon-triangle-bottom':orderType=='-','glyphicon glyphicon-triangle-top':orderType==''}"></span>
            </th>
            <th>
                数量
                <span ng-click="order('alls()')" ng-class="{'glyphicon glyphicon-triangle-bottom':orderType=='-','glyphicon glyphicon-triangle-top':orderType==''}"></span>
            </th>
            <th>
                商品总价
                <span ng-click="order('num')" ng-class="{'glyphicon glyphicon-triangle-bottom':orderType=='-','glyphicon glyphicon-triangle-top':orderType==''}"></span>
            </th>
            <th>
                操作
            </th>
        </tr>
        </thead>
        <tbody  ng-show="infos.length">
        <tr ng-repeat="info in infos|filter:search|orderBy:orderType+type" >
            <td ng-bind="info.id"></td>
            <td ng-bind="info.name"></td>
            <td ng-bind="info.price"></td>
            <td><button type="button" class="btn btn-success" ng-click="jian(info.id)")>-</button>
                <input type="text" ng-model="info.num" oninput>
                <button type="button" class="btn btn-success" ng-click="jia(info.id)">+</button></td>
            <td ng-bind="info.alls()"></td>
            <td><button type="button" class="btn btn-primary" ng-click="del(info.id)">删除</button></td>
        </tr>
        </tbody>
        <tr>
            <td>总数</td>
            <td ng-bind="all()"></td>
            <td>总价</td>
            <td ng-bind="allprice()"></td>
            <td>清除购物车</td>
            <td><button type="button" class="btn btn-primary" ng-click="clear()">清除购物车</button></td>
        </tr>
        <tbody  ng-hide="infos.length">
        <tr>
            <td>购物车没东西</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/shop.js"></script>
</html>